[Unit]
Description=Pocket Pi-Pet
After=network.target

[Service]
User=brian
Group=brian
WorkingDirectory=/home/brian/pipet
ExecStart=/home/brian/pipet/venv/bin/python /home/brian/pipet/Tamagotchi/main.py
Restart=always

[Install]
WantedBy=multi-user.target